/* reset */

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../img/paisaje.jpg);
}
/* titulo para todos*/
h1{
    display: none;
    background-image: linear-gradient(gold, rgb(96, 82, 3));
    text-align: center;
    font-size: 300%;
    font-style: oblique;
}

/*menu del menu*/
nav{
    background-image: linear-gradient(blueviolet, rgb(47, 13, 79));
    padding-top:0px;
    padding-left: 0px;
    }

nav ul li{
    font-style: italic;
    list-style: none;
    margin-left: 05px;
    display: inline-block;
    width: 300px;
}
    
/*info de cada pagina*/
section{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    background-color: rgb(4, 105, 142);
    padding-left: 5px;
}
/*index*/
.presentacionimg{
align-items: center;
}
.video{
display: none;
}
/* mapa imagen*/
.mapaimg{
    display: none;
}
/* tripulacion*/

section ul li{
    display: inline-block;
}

/*lugares en mapa*/

h3{
    background-color: rgb(3, 77, 3);

}

/*npc todos*/
.npc__foto{
    padding: 10px 5px 10px 5px;
    display: inline-block;
    text-align: center;
}

/* redes*/
h4{
    text-align: center;
    font-size: 300%;
    font-style: italic;
}
/*logo movil*/
.logo{
    display: none;
    position: fixed;
    bottom: 50px;
    right: 50px;
}

/*pie de pagina*/
footer{
    background-color: blueviolet;
}

@media screen and (min-width:1024px) {
        /*texto superior para 1024*/
    h1{
        display: block;
    }
    /*trasnformaciones al menu*/
        nav ul li:hover{
            transform: scale(0.7);
            transition: 2s;
            text-shadow: 5px 5px 10px whitesmoke;
            }
        /* pagina index 1024*/
    section{
        background-color: darkcyan;
    }
    .video{
    display: block;
    display: flex;
    }
    .videos{ 
        margin-left: 1rem;
        margin-right: 1rem; 
    }

        /* pagina mapa 1024*/
        .mapaimg{
            display: block;   
             }

        /*pagina tripulacion para 1024*/
        .tripulacion{
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto;

            grid-template-areas: 
            "pji1 pjt1"
            "pji1 pjt1"
            "pji2 pjt2"
            "pji2 pjt2"
            "pji3 pjt3"
            "pji3 pjt3"
            "pji4 pjt4"
            "pji4 pjt4"
            "pji5 pjt5"
            "pji5 pjt5"
            "pji6 pjt6"
            "pji6 pjt6";
            justify-content: center;
            justify-items: center;
        }
            .pji1{
                grid-area: pji1
            }
            .pjt1{
                grid-area: pjt1
            }
            .pji2{
                grid-area: pji2
            }
            .pjt2{
                grid-area: pjt2
            }
            .pji3{
                grid-area: pji3
            }
            .pjt3{
                grid-area: pjt3
            }       
            .pji4{
                grid-area: pji4
            }
            .pjt4{
                grid-area: pjt4
            }
            .pji5{
                grid-area: pji5
            }
            .pjt5{
                grid-area: pjt5
            }
            .pji6{
                grid-area: pji6
            }
            .pjt6{
                grid-area: pjt6
            }
        
       /*pagina otros para 1024*/
       .npc{
    display: grid;
       grid-template-columns: auto;
       grid-template-rows: auto;

       grid-template-areas:
       "nf1 nt1"
       "nf2 nt2"
       "nf3 nt3"
       "nf4 nt4"
       "nf5 nt5"
       "nf6 nt6";}

       .nf1{
        grid-area: nf1
    }
    .nt1{
        grid-area: nt1
    }
    .nf2{
        grid-area: nf2
    }
    .nt2{
        grid-area: nt2
    }
    .nf3{
        grid-area: nf3
    }
    .nt3{
        grid-area: nt3
    }
    .nf4{
        grid-area: nf4
    }
    .nt4{
        grid-area: nt4
    }
    .nf5{
        grid-area: nf5
    }
    .nt5{
        grid-area: nt5
    }
    .nf6{
        grid-area: nf6
    }
    .nt6{
        grid-area: nt6
    }
    /*pagina redes*/
    h4:hover{
        transform: scale(1.5);
        transition: 3s;
        text-shadow: 2px 2px 5px red;
    }
    /* logo visible en 1024*/
    .logo{
        display: block;
    }
    
}
{
}

