//import de los scss
@import "bases/extender";
@import "bases/mixin";
@import "bases/variables";    
    /*pagina redes*/
   .redes{
        text-align: center;
        font-size: 150%;
        font-style: italic;
        a{
            text-decoration: none;
        }
    }
    .redes:hover{
        transform: scale(1.2);
        transition: 3s;
        text-shadow: 2px 2px 5px red;
    }
    /*medias tablet*/
        @media (max-width: 992px){
            .redes:hover{ 
                transform: none;
                transition: none;
                text-shadow: none;
            }
        }

        
    /*medias cel*/
        @media (max-width: 768px){
            .logo { @include no;
            }
        }

